<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <title>Document</title>
</head>
<body>
  <h1>Welcome</h1>

  <!-- Dado que se ha especificado la carpeta public para archivos estaticos no es necesario poner public/images/baby-yoda.jpg -->
  <img src="/images/baby-yoda.jpg" alt="">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, enim. Nostrum, exercitationem laborum maiores quidem fuga sint! Molestiae similique vel perferendis debitis asperiores. Doloremque similique eum dolor! Itaque, odio esse.
  Quos quam voluptatem aspernatur sit error, voluptatibus atque mollitia suscipit accusantium natus a recusandae. Aut voluptate ab voluptas, ad, consequatur aperiam, a similique dicta sint nemo consectetur minus reprehenderit distinctio!
  Eum repellat quo libero, explicabo deserunt aperiam expedita nostrum animi nulla minus totam culpa sapiente consectetur placeat fuga eos officiis, dolores cupiditate natus exercitationem voluptate porro. Dicta quibusdam amet omnis.
  Illum nulla voluptates veniam at, animi sint repudiandae provident facere distinctio doloribus error doloremque fugiat quaerat, magnam quis et rem, ratione tempora voluptate ab ipsam cumque corrupti ipsa nemo? Saepe.
  Accusamus praesentium voluptas, perferendis alias at temporibus aliquid repellat animi? Reiciendis possimus magni nesciunt, harum esse, rem voluptas, officiis voluptate quod impedit totam aliquid? Iusto at esse quod laudantium sapiente.
  Alias, voluptas. Quos quia deserunt maiores laborum ut. Quibusdam nam, aspernatur deserunt asperiores sit neque assumenda veniam ullam quo cum quidem dolores illum adipisci inventore consectetur voluptates amet molestias pariatur!
  Eaque similique iste, molestiae nesciunt illo reiciendis incidunt odit repudiandae, illum ut voluptatum! Ratione cupiditate incidunt reprehenderit, nisi hic, libero tempore quia, praesentium ullam quisquam rem quod dolores alias id.
  Pariatur laudantium illo vero, dolorem, earum cupiditate ab neque impedit quidem quia porro consectetur. Accusamus, ullam itaque dolorum necessitatibus, quidem excepturi doloremque velit debitis, fugit iusto tenetur neque minus perspiciatis.
  Dolore est enim quo, recusandae iure totam ut sit provident minima soluta omnis tenetur, ratione at! Voluptatibus non dignissimos eum expedita magni omnis impedit, excepturi doloremque minus exercitationem aut maxime?
  Nisi provident voluptates totam perspiciatis blanditiis commodi suscipit deleniti molestiae aliquam sit. Nostrum doloremque porro non quibusdam! Quos, non praesentium dolore dolores illum voluptas ab dolorum modi vitae, odio excepturi.</p>
</body>
</html>